<div class="">
  <nav class="navbar navbar-expand-lg ">
    <div class="container-fluid nav">
      <a class="navbar-brand" class="title" routerLink="/dashboard" routerLinkActive="active">Employee Management</a>
      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" (click)="sidebar()" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <button class="btn btn-outline-success" routerLink="/addemployee" routerLinkActive="active" type="submit">Add
          Employee</button>

      </div> -->
    </div>
  </nav>
</div>