.body{
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* display:flex;
    flex-direction: row; */
    /* height: 100vh; */
}
.app-navbar{
    height:4em;
}
.app-body{
    height:calc(100vh-4em);
    display:flex;
  background:linear-gradient(45deg,rgba(128, 182, 244, 0.6),rgba(244, 144, 128, 0.6));

}
.app-sidebar{
    width: 5%;
    transition: all 0.5s ease-out;
}
.app-sidebar-collapse{
    width: 20%;
    transition: all 0.5s ease-out;
}
.app-routeroutlet{
    width: 100%;
    height: calc(100vh - 4em);
    overflow: auto;
}

